@import url(./reset.css);

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rebeccapurple;
    padding: 2rem;
}

img {
    width: 25rem;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    object-position: center;
}

h1 {
    --title-font-size: 1.25rem;
    font-size: clamp(var(--title-font-size), 
                2vw + calc(var(--title-font-size) - .75rem), 
                calc(var(--title-font-size) + 2rem));
    font-weight: bold;
}

main {
    margin-block: 3rem;
}

.cards {
    container-type: inline-size;
    background-color: rebeccapurple;
}

.card {
    background-color: #eee;
    color: #333;
    display: grid;
    padding: 1rem;
    margin-block: 1rem;
}

@container (width > 45ch) {
    .card {
        grid-template-columns: auto minmax(25ch, 1fr);

        & h2 {
            grid-column: 1 / -1;
        }
    }
}

.card {
    display: grid;
    gap: 1rem;
}

